HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_NAME=strapi
DATABASE_USERNAME=root
DATABASE_PASSWORD=qzmp1234
DATABASE_SSL=false
DATABASE_FILENAME=
DATABASE_SSL_CERT=
DATABASE_SSL_CA=..\..\certs\ca.pem

# PostgreSQL
POSTGRES_DB=strapi
POSTGRES_USER=root
POSTGRES_PASSWORD=qzmp1234

# Email
SMTP_HOST=smtp.tobemodified.com
SMTP_PORT=587
SMTP_USERNAME=noreply@tobemodified.com
SMTP_PASSWORD=tobemodified
